<launch>

  <!-- Shut down the turtlebot3_drive node if it is running to prevent hazardous moving -->
  <node name="kill_turtlebot3_drive" pkg="rosnode" type="rosnode" args="kill turtlebot3_drive" />

  <!-- Map file path -->
  <arg name="map_file" default="$(find human_aware_nav_launch)/maps/playground_new.yaml"/>

  <!-- Initial pose -->
  <arg name="initial_pose_x" default="0" />
  <arg name="initial_pose_y" default="0" />
  <arg name="initial_pose_a" default="0" />

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Launch AMCL -->
  <include file="$(find turtlebot3_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
    <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
    <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
  </include>

  <!-- Run Move Base -->
  <include file="$(find human_aware_nav_launch)/launch/move_base.launch">
    <!-- Additional parameters specific to TurtleBot3 may not be needed anymore -->
  </include>

  <!-- Run constant velocity prediction node -->
  <node name="constant_velocity_prediction" pkg="people_prediction" type="constant_velocity_prediction" />

  <!-- Run RViz -->
  <include file="$(find human_aware_nav_launch)/launch/rviz.launch">
    <!-- Adjust config file path accordingly if needed -->
 <include file="$(find human_aware_nav_launch)/launch/rviz.launch" />
  </include>
</launch>

